<link rel="stylesheet" type="text/css" href="../assets/css/dash.css">

<div class="container" ng-controller="SitesController">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-example" data-example-id="hoverable-table">
          <table class="table table-hover">
            <thead>
                <th width="160">Site Number</th>
                <th width="240">Site Name</th> 
                <th width="240">Site Address</th>
                <th width="120">Site City</th>
                <th width="100">Site State</th> 
                <th width="100">Site Zip</th>
                <th width="100">Site Status</th>
            </thead>
            <tbody>
              <tr ng-repeat="site in mySites |  filter:Site_Number=site " ng-class="{'danger': site.Site_Number == 295126}">
              <td><span class="btn btn-sm btn-primary" ng-click="openSiteModal(site)" role="button">{{site.Site_Number}}</span></td>
              <td>{{site.Site_Name}}</td>
              <td>{{site.Site_Address}}</td>
              <td>{{site.Site_City}}</td>
              <td>{{site.Site_State}}</td>
              <td>{{site.Site_Zip}}</td>
              <td>{{site.Status}}</td>
            </tbody>
          </table>
       </div>
    </div> 
  </div> 
  <div ng-show="showSite">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{siteSelected.Site_Name}}</h3>
      </div>
      <div class="panel-body">
        {{siteSelected.Site_Address}}
        {{siteSelected.Site_City}}
        {{siteSelected.Site_State}}
        {{siteSelected.Site_Zip}}
        {{siteSelected.Status}}
      </div>
    </div>
  </div>
</div>


