.login-form {
			align-self:left;
			max-width: 140px;
			margin: 0 auto;
			width: 140px;
			height: 180px;
		}
img.logo {
			float: left;
			margin: 10px 30px 60px 0;			
}

.welcome {
	margin-top: 30px;
}

.loggedUser {
	color: #bce8f1;
}

.logoutLink a {
	color:red;
} 

.logoutLink a:hover {
	color: blue;
} 

.container_offset_fix{
	margin-top:70px;
}